.button {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.2s;
}

.theme {
  &_primary {
    min-height: 54px;
    min-width: 54px;

    border-radius: 50%;
    background-color: #05ac6a4d;

    &:hover {
      background-color: #08a06386;
    }

    &:disabled {
      background-color: #e1e1e1;
    }
  }

  &_ghost {
    background-color: transparent;

    &:hover {
      opacity: 0.5;
    }
  }
}
