.volumeControl {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 260px;
}

.rangeSlider {
  accent-color: green;
  margin: 0 4px;

  width: 100%;
  height: 2px;

  &:hover {
    cursor: pointer;
  }
}
